In [1]:
import pandas as pd

In [35]:
excel = pd.ExcelFile('aus.xlsx')
data = pd.read_excel(excel, 'Table 2.1',skiprows =16)
data

,Direction,Visa groupings(d),Unnamed: 2,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,...,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(g)
0,Overseas migrant arrivals(e),Permanent visas,Family,28430.0,30400.0,32480.0,33100.0,35060.0,35580.0,33730.0,...,35230.0,35510.0,32050.0,31590.0,29680.0,26280.0,24290.0,20300.0,15650.0,24790.0
1,NaN,NaN,Skilled (permanent),35540.0,42750.0,47540.0,51600.0,48360.0,41140.0,33060.0,...,38020.0,40330.0,42240.0,41850.0,46140.0,43320.0,38230.0,27280.0,14620.0,27240.0
2,NaN,NaN,Special eligibility & humanitarian,13580.0,12320.0,12400.0,9470.0,11630.0,9920.0,9180.0,...,8540.0,13170.0,11690.0,11080.0,24120.0,12190.0,15340.0,13000.0,590.0,7340.0
3,NaN,NaN,Other (permanent),3650.0,3640.0,3770.0,3940.0,4000.0,3990.0,4320.0,...,4960.0,5340.0,5510.0,6070.0,6270.0,6130.0,7530.0,10320.0,6090.0,8520.0
4,NaN,Total permanent visas,NaN,81210.0,89110.0,96190.0,98110.0,99040.0,90640.0,80300.0,...,86760.0,94350.0,91490.0,90590.0,106200.0,87910.0,85390.0,70890.0,36950.0,67900.0
5,NaN,Temporary visas,Student - vocational education and training,7990.0,10500.0,19970.0,31420.0,53570.0,25710.0,11000.0,...,8460.0,9740.0,11180.0,15270.0,16300.0,19650.0,22650.0,11420.0,120.0,19970.0
6,NaN,NaN,Student - higher education,32750.0,42040.0,57940.0,73150.0,72080.0,56500.0,43020.0,...,56500.0,79140.0,85070.0,89170.0,101440.0,106520.0,111310.0,75950.0,730.0,96880.0
7,NaN,NaN,Student - other,25440.0,20550.0,25810.0,29160.0,27110.0,24450.0,21330.0,...,21260.0,25450.0,25870.0,27690.0,31670.0,31460.0,30390.0,23070.0,670.0,20120.0
8,NaN,NaN,Skilled (temporary),17100.0,27730.0,35850.0,44010.0,44060.0,26270.0,35600.0,...,43460.0,32870.0,31490.0,30490.0,32690.0,26940.0,32600.0,22840.0,8950.0,22470.0
9,NaN,NaN,Working holiday,12930.0,17080.0,21630.0,29120.0,34300.0,33030.0,43460.0,...,59250.0,54190.0,51600.0,50100.0,50330.0,50990.0,49090.0,43950.0,1020.0,13480.0
10,NaN,NaN,Visitors,35770.0,36100.0,37590.0,49990.0,42340.0,40260.0,41710.0,...,47920.0,44440.0,50240.0,60550.0,72270.0,79430.0,91220.0,117740.0,7700.0,39010.0
11,NaN,NaN,Other (temporary),9320.0,7580.0,6780.0,6920.0,5720.0,5330.0,6450.0,...,7220.0,7330.0,7480.0,8490.0,10120.0,12320.0,13410.0,18680.0,10390.0,27960.0
12,NaN,Total temporary visas,NaN,141300.0,161590.0,205580.0,263760.0,279180.0,211560.0,202570.0,...,244060.0,253160.0,262930.0,281760.0,314820.0,327300.0,350670.0,313660.0,29580.0,239890.0
13,NaN,New Zealand citizens (subclass 444)(h),NaN,37330.0,38760.0,44420.0,51680.0,46890.0,38630.0,53610.0,...,54120.0,37770.0,31750.0,33700.0,32330.0,30380.0,30540.0,22220.0,16950.0,23230.0
14,NaN,Australian citizens (no visa),NaN,69260.0,72610.0,75300.0,75830.0,80440.0,78870.0,78870.0,...,77100.0,72180.0,71680.0,75800.0,79280.0,77160.0,78900.0,96410.0,61370.0,61160.0
15,NaN,Total(i),NaN,341400.0,376530.0,437440.0,501340.0,519790.0,437930.0,431780.0,...,482090.0,464680.0,465250.0,489280.0,540150.0,527520.0,550400.0,506850.0,146000.0,394970.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Overseas migrant departures(f),Permanent visas,Family,4090.0,4230.0,4500.0,4810.0,4810.0,5460.0,5870.0,...,5560.0,5700.0,6150.0,5790.0,5610.0,5560.0,5780.0,6380.0,4180.0,6760.0
18,NaN,NaN,Skilled (permanent),6570.0,6800.0,7140.0,7430.0,7330.0,9090.0,8080.0,...,7480.0,7960.0,8640.0,8570.0,8060.0,7770.0,7490.0,8500.0,6560.0,7450.0
19,NaN,NaN,Special eligibility & humanitarian,200.0,210.0,90.0,110.0,70.0,120.0,120.0,...,140.0,150.0,140.0,150.0,130.0,150.0,170.0,120.0,80.0,120.0
20,NaN,NaN,Other (permanent),5160.0,4640.0,4660.0,4820.0,4390.0,5230.0,5310.0,...,5490.0,5880.0,6350.0,6470.0,6690.0,7110.0,8110.0,9410.0,7110.0,9660.0
21,NaN,Total permanent visas,NaN,16020.0,15880.0,16380.0,17180.0,16600.0,19900.0,19380.0,...,18670.0,19690.0,21280.0,20980.0,20490.0,20590.0,21540.0,24410.0,17930.0,23990.0
22,NaN,Temporary visas,Student - vocational education and training,3080.0,3410.0,3370.0,4070.0,5560.0,9880.0,12330.0,...,7940.0,8260.0,8720.0,9450.0,11390.0,15150.0,16980.0,22160.0,11060.0,7600.0
23,NaN,NaN,Student - higher education,9010.0,14780.0,16020.0,15620.0,18120.0,24200.0,30100.0,...,28370.0,26560.0,25330.0,24190.0,25410.0,31150.0,40930.0,66030.0,43580.0,16050.0
24,NaN,NaN,Student - other,9150.0,7880.0,6090.0,6330.0,7030.0,7690.0,7900.0,...,8650.0,9330.0,10990.0,10470.0,10010.0,9110.0,9540.0,12730.0,7550.0,4450.0
25,NaN,NaN,Skilled (temporary),7220.0,8480.0,9390.0,10600.0,13560.0,14600.0,12710.0,...,18240.0,22290.0,21410.0,18880.0,15900.0,15500.0,15660.0,13650.0,11320.0,9030.0
26,NaN,NaN,Working holiday,3530.0,2840.0,4650.0,7770.0,10480.0,15030.0,15560.0,...,20850.0,26970.0,28510.0,27470.0,25960.0,22500.0,25080.0,25520.0,7820.0,5030.0
27,NaN,NaN,Visitors,14320.0,15510.0,11740.0,21040.0,20850.0,16250.0,16420.0,...,15030.0,12230.0,12200.0,16460.0,18470.0,20830.0,27310.0,16880.0,15020.0,16150.0
28,NaN,NaN,Other (temporary),13210.0,11930.0,11230.0,11800.0,14370.0,17310.0,19400.0,...,19960.0,22130.0,20900.0,22370.0,24080.0,29310.0,33040.0,39870.0,50180.0,44480.0
29,NaN,Total temporary visas,NaN,59520.0,64830.0,62480.0,77230.0,89960.0,104960.0,114430.0,...,119030.0,127760.0,128060.0,129280.0,131220.0,143550.0,168530.0,196830.0,146530.0,102800.0
30,NaN,New Zealand citizens (subclass 444)(h),NaN,16920.0,16080.0,15470.0,15410.0,16930.0,17990.0,16810.0,...,20060.0,25300.0,27080.0,27640.0,25600.0,22910.0,22410.0,20850.0,19050.0,15790.0
31,NaN,Australian citizens (no visa),NaN,90480.0,91060.0,92470.0,96020.0,82900.0,83140.0,87670.0,...,85690.0,92180.0,97570.0,97290.0,92560.0,89770.0,85890.0,60390.0,44010.0,74090.0
32,NaN,Total(i),NaN,198820.0,204690.0,204640.0,224000.0,219920.0,241870.0,251410.0,...,251760.0,276900.0,281220.0,283040.0,276800.0,289300.0,309060.0,314160.0,230930.0,224050.0
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,© Commonwealth of Australia 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
data1 = data.iloc[0:15]

In [12]:
data1

,Direction,Visa groupings(d),Unnamed: 2,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,...,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(g)
0,Overseas migrant arrivals(e),Permanent visas,Family,28430.0,30400.0,32480.0,33100.0,35060.0,35580.0,33730.0,...,35230.0,35510.0,32050.0,31590.0,29680.0,26280.0,24290.0,20300.0,15650.0,24790.0
1,NaN,NaN,Skilled (permanent),35540.0,42750.0,47540.0,51600.0,48360.0,41140.0,33060.0,...,38020.0,40330.0,42240.0,41850.0,46140.0,43320.0,38230.0,27280.0,14620.0,27240.0
2,NaN,NaN,Special eligibility & humanitarian,13580.0,12320.0,12400.0,9470.0,11630.0,9920.0,9180.0,...,8540.0,13170.0,11690.0,11080.0,24120.0,12190.0,15340.0,13000.0,590.0,7340.0
3,NaN,NaN,Other (permanent),3650.0,3640.0,3770.0,3940.0,4000.0,3990.0,4320.0,...,4960.0,5340.0,5510.0,6070.0,6270.0,6130.0,7530.0,10320.0,6090.0,8520.0
4,NaN,Total permanent visas,NaN,81210.0,89110.0,96190.0,98110.0,99040.0,90640.0,80300.0,...,86760.0,94350.0,91490.0,90590.0,106200.0,87910.0,85390.0,70890.0,36950.0,67900.0
5,NaN,Temporary visas,Student - vocational education and training,7990.0,10500.0,19970.0,31420.0,53570.0,25710.0,11000.0,...,8460.0,9740.0,11180.0,15270.0,16300.0,19650.0,22650.0,11420.0,120.0,19970.0
6,NaN,NaN,Student - higher education,32750.0,42040.0,57940.0,73150.0,72080.0,56500.0,43020.0,...,56500.0,79140.0,85070.0,89170.0,101440.0,106520.0,111310.0,75950.0,730.0,96880.0
7,NaN,NaN,Student - other,25440.0,20550.0,25810.0,29160.0,27110.0,24450.0,21330.0,...,21260.0,25450.0,25870.0,27690.0,31670.0,31460.0,30390.0,23070.0,670.0,20120.0
8,NaN,NaN,Skilled (temporary),17100.0,27730.0,35850.0,44010.0,44060.0,26270.0,35600.0,...,43460.0,32870.0,31490.0,30490.0,32690.0,26940.0,32600.0,22840.0,8950.0,22470.0
9,NaN,NaN,Working holiday,12930.0,17080.0,21630.0,29120.0,34300.0,33030.0,43460.0,...,59250.0,54190.0,51600.0,50100.0,50330.0,50990.0,49090.0,43950.0,1020.0,13480.0
10,NaN,NaN,Visitors,35770.0,36100.0,37590.0,49990.0,42340.0,40260.0,41710.0,...,47920.0,44440.0,50240.0,60550.0,72270.0,79430.0,91220.0,117740.0,7700.0,39010.0
11,NaN,NaN,Other (temporary),9320.0,7580.0,6780.0,6920.0,5720.0,5330.0,6450.0,...,7220.0,7330.0,7480.0,8490.0,10120.0,12320.0,13410.0,18680.0,10390.0,27960.0
12,NaN,Total temporary visas,NaN,141300.0,161590.0,205580.0,263760.0,279180.0,211560.0,202570.0,...,244060.0,253160.0,262930.0,281760.0,314820.0,327300.0,350670.0,313660.0,29580.0,239890.0
13,NaN,New Zealand citizens (subclass 444)(h),NaN,37330.0,38760.0,44420.0,51680.0,46890.0,38630.0,53610.0,...,54120.0,37770.0,31750.0,33700.0,32330.0,30380.0,30540.0,22220.0,16950.0,23230.0
14,NaN,Australian citizens (no visa),NaN,69260.0,72610.0,75300.0,75830.0,80440.0,78870.0,78870.0,...,77100.0,72180.0,71680.0,75800.0,79280.0,77160.0,78900.0,96410.0,61370.0,61160.0

In [37]:
data1.at[13,"Unnamed: 2"]= "New Zealand citizen"
data1.at[14,"Unnamed: 2"]= "Australian citizens "

In [40]:
data1=data1.drop(columns=["Visa groupings(d)","Direction"])

In [42]:
data1.rename(columns={"Unnamed: 2":'type'}, inplace = True)

In [46]:
data1.dropna(inplace=True)

In [48]:
data1.reset_index(drop=True,inplace=True)

In [49]:
data1

,type,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21,2021-22(g)
0,Family,28430.0,30400.0,32480.0,33100.0,35060.0,35580.0,33730.0,34770.0,35230.0,35510.0,32050.0,31590.0,29680.0,26280.0,24290.0,20300.0,15650.0,24790.0
1,Skilled (permanent),35540.0,42750.0,47540.0,51600.0,48360.0,41140.0,33060.0,40980.0,38020.0,40330.0,42240.0,41850.0,46140.0,43320.0,38230.0,27280.0,14620.0,27240.0
2,Special eligibility & humanitarian,13580.0,12320.0,12400.0,9470.0,11630.0,9920.0,9180.0,7700.0,8540.0,13170.0,11690.0,11080.0,24120.0,12190.0,15340.0,13000.0,590.0,7340.0
3,Other (permanent),3650.0,3640.0,3770.0,3940.0,4000.0,3990.0,4320.0,4250.0,4960.0,5340.0,5510.0,6070.0,6270.0,6130.0,7530.0,10320.0,6090.0,8520.0
4,Student - vocational education and training,7990.0,10500.0,19970.0,31420.0,53570.0,25710.0,11000.0,10150.0,8460.0,9740.0,11180.0,15270.0,16300.0,19650.0,22650.0,11420.0,120.0,19970.0
5,Student - higher education,32750.0,42040.0,57940.0,73150.0,72080.0,56500.0,43020.0,41870.0,56500.0,79140.0,85070.0,89170.0,101440.0,106520.0,111310.0,75950.0,730.0,96880.0
6,Student - other,25440.0,20550.0,25810.0,29160.0,27110.0,24450.0,21330.0,21250.0,21260.0,25450.0,25870.0,27690.0,31670.0,31460.0,30390.0,23070.0,670.0,20120.0
7,Skilled (temporary),17100.0,27730.0,35850.0,44010.0,44060.0,26270.0,35600.0,47880.0,43460.0,32870.0,31490.0,30490.0,32690.0,26940.0,32600.0,22840.0,8950.0,22470.0
8,Working holiday,12930.0,17080.0,21630.0,29120.0,34300.0,33030.0,43460.0,54620.0,59250.0,54190.0,51600.0,50100.0,50330.0,50990.0,49090.0,43950.0,1020.0,13480.0
9,Visitors,35770.0,36100.0,37590.0,49990.0,42340.0,40260.0,41710.0,42720.0,47920.0,44440.0,50240.0,60550.0,72270.0,79430.0,91220.0,117740.0,7700.0,39010.0
10,Other (temporary),9320.0,7580.0,6780.0,6920.0,5720.0,5330.0,6450.0,7100.0,7220.0,7330.0,7480.0,8490.0,10120.0,12320.0,13410.0,18680.0,10390.0,27960.0
11,New Zealand citizen,37330.0,38760.0,44420.0,51680.0,46890.0,38630.0,53610.0,61070.0,54120.0,37770.0,31750.0,33700.0,32330.0,30380.0,30540.0,22220.0,16950.0,23230.0
12,Australian citizens,69260.0,72610.0,75300.0,75830.0,80440.0,78870.0,78870.0,76070.0,77100.0,72180.0,71680.0,75800.0,79280.0,77160.0,78900.0,96410.0,61370.0,61160.0

In [55]:
temp = 2004
for i in range(1,len(data1.columns)):
    data1.rename(columns={data1.columns[i]:f'{temp}'}, inplace = True)
    temp +=1

In [56]:
data1

,type,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Family,28430.0,30400.0,32480.0,33100.0,35060.0,35580.0,33730.0,34770.0,35230.0,35510.0,32050.0,31590.0,29680.0,26280.0,24290.0,20300.0,15650.0,24790.0
1,Skilled (permanent),35540.0,42750.0,47540.0,51600.0,48360.0,41140.0,33060.0,40980.0,38020.0,40330.0,42240.0,41850.0,46140.0,43320.0,38230.0,27280.0,14620.0,27240.0
2,Special eligibility & humanitarian,13580.0,12320.0,12400.0,9470.0,11630.0,9920.0,9180.0,7700.0,8540.0,13170.0,11690.0,11080.0,24120.0,12190.0,15340.0,13000.0,590.0,7340.0
3,Other (permanent),3650.0,3640.0,3770.0,3940.0,4000.0,3990.0,4320.0,4250.0,4960.0,5340.0,5510.0,6070.0,6270.0,6130.0,7530.0,10320.0,6090.0,8520.0
4,Student - vocational education and training,7990.0,10500.0,19970.0,31420.0,53570.0,25710.0,11000.0,10150.0,8460.0,9740.0,11180.0,15270.0,16300.0,19650.0,22650.0,11420.0,120.0,19970.0
5,Student - higher education,32750.0,42040.0,57940.0,73150.0,72080.0,56500.0,43020.0,41870.0,56500.0,79140.0,85070.0,89170.0,101440.0,106520.0,111310.0,75950.0,730.0,96880.0
6,Student - other,25440.0,20550.0,25810.0,29160.0,27110.0,24450.0,21330.0,21250.0,21260.0,25450.0,25870.0,27690.0,31670.0,31460.0,30390.0,23070.0,670.0,20120.0
7,Skilled (temporary),17100.0,27730.0,35850.0,44010.0,44060.0,26270.0,35600.0,47880.0,43460.0,32870.0,31490.0,30490.0,32690.0,26940.0,32600.0,22840.0,8950.0,22470.0
8,Working holiday,12930.0,17080.0,21630.0,29120.0,34300.0,33030.0,43460.0,54620.0,59250.0,54190.0,51600.0,50100.0,50330.0,50990.0,49090.0,43950.0,1020.0,13480.0
9,Visitors,35770.0,36100.0,37590.0,49990.0,42340.0,40260.0,41710.0,42720.0,47920.0,44440.0,50240.0,60550.0,72270.0,79430.0,91220.0,117740.0,7700.0,39010.0
10,Other (temporary),9320.0,7580.0,6780.0,6920.0,5720.0,5330.0,6450.0,7100.0,7220.0,7330.0,7480.0,8490.0,10120.0,12320.0,13410.0,18680.0,10390.0,27960.0
11,New Zealand citizen,37330.0,38760.0,44420.0,51680.0,46890.0,38630.0,53610.0,61070.0,54120.0,37770.0,31750.0,33700.0,32330.0,30380.0,30540.0,22220.0,16950.0,23230.0
12,Australian citizens,69260.0,72610.0,75300.0,75830.0,80440.0,78870.0,78870.0,76070.0,77100.0,72180.0,71680.0,75800.0,79280.0,77160.0,78900.0,96410.0,61370.0,61160.0

In [57]:
data1.to_csv("visa.csv")

In [ ]:
temp =0 
for i in range(2,10):
    test = pd.read_excel(excel, f'Table 2.{i}',skiprows =15).drop(columns=["Direction","Visa groupings(c)"]).loc[15].rename(f"{temp}").to_frame().T
    temp1 = 2004
    temp2 = 0
    for i in test.columns:
        test.rename(columns={i:f'{temp1}'}, inplace = True)
        arrive.loc[lst[temp],f'{temp1}'] = test.iloc[0,temp2]
        temp1 +=1
        temp2 +=1
   
    
    temp += 1
arrive

In [65]:
lst = ["New South Wales","Victoria","Queensland","South Australia","Western Australia","Tasmania","Northern Territory","Australian Capital Territory"]

In [70]:
for i in range(2,10):
    test = pd.read_excel(excel, f'Table 2.{i}',skiprows =15).drop(columns=["Direction","Visa groupings(c)"])
    test = test.iloc[0:12]
    test.rename(columns={"Unnamed: 2":'type'}, inplace = True)
    test.dropna(inplace=True)
    test.reset_index(drop=True,inplace=True)
    temp = 2004
    for x in test.columns:
        if x =="type":
            continue
        test.rename(columns={x:f'{temp}'}, inplace = True)
        temp +=1
    test.to_csv(f"visa/{lst[i-2]}.csv")

In [61]:
test

,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Family,12370.0,13250.0,13530.0,13810.0,14230.0,13950.0,13090.0,13120.0,13280.0,13160.0,11770.0,11580.0,11070.0,9720.0,8830.0,7330.0,7580.0,9270.0
1,Skilled (permanent),11690.0,12410.0,12890.0,13530.0,12730.0,10040.0,9040.0,9440.0,8990.0,11040.0,12290.0,13230.0,16190.0,15380.0,13000.0,9290.0,7250.0,8770.0
2,Special eligibility & humanitarian,4420.0,4410.0,4200.0,2950.0,4080.0,3200.0,2840.0,2030.0,2790.0,4480.0,4770.0,3340.0,10720.0,4390.0,6250.0,5290.0,170.0,2990.0
3,Other (permanent),1350.0,1360.0,1370.0,1470.0,1460.0,1470.0,1550.0,1600.0,1800.0,2070.0,2020.0,2190.0,2270.0,2190.0,2670.0,3760.0,3040.0,3260.0
4,Student - vocational education and training,3790.0,4870.0,9390.0,14980.0,18540.0,8650.0,4970.0,4600.0,3750.0,4460.0,5420.0,6710.0,7260.0,9180.0,10630.0,4360.0,60.0,10390.0
5,Student - higher education,11440.0,14830.0,20110.0,23690.0,22720.0,18870.0,14370.0,14340.0,20460.0,27380.0,31120.0,32050.0,36900.0,38680.0,37440.0,24240.0,320.0,37810.0
6,Student - other,9620.0,7410.0,9980.0,11950.0,10020.0,8450.0,7180.0,6910.0,6700.0,7900.0,8420.0,9410.0,11510.0,11680.0,10600.0,7600.0,260.0,6810.0
7,Skilled (temporary),6330.0,7820.0,9590.0,11790.0,10410.0,7500.0,10990.0,12860.0,13030.0,11900.0,12100.0,12900.0,14100.0,11380.0,13780.0,9430.0,4560.0,9170.0
8,Working holiday,7060.0,9020.0,10700.0,13020.0,13980.0,12840.0,15560.0,15990.0,17750.0,17560.0,17310.0,18070.0,19440.0,19270.0,17700.0,15890.0,560.0,5670.0
9,Visitors,15530.0,14910.0,15530.0,20600.0,17330.0,15430.0,15470.0,15160.0,18980.0,16700.0,18280.0,21450.0,27310.0,30860.0,33820.0,40660.0,3700.0,14010.0
10,Other (temporary),3070.0,2540.0,2390.0,2550.0,1720.0,1780.0,1950.0,2030.0,2160.0,2470.0,2540.0,2830.0,3540.0,4090.0,4420.0,4880.0,4180.0,7950.0